
header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 13vh;
}

header svg{
    fill: var(--color-letra);
}

.realHeader{
    height: 70%;
    background-color: var(--color-Primaria);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav{
    height: 30%;
    background-color: var(--color-Secundaria);
    align-items: center;
    display: flex;
    border-top: solid 1px black;
    
}



.LogoEtitulo{
    display: flex;
    align-items: center;
}
.Logo{
   display: flex;
}

.Logo svg{
    width: 100%;
    height: 10vh;
}

.LogoEtitulo h1{
    font-size: 150%;
}

#CaixaPes{
    width: 100%; 
    height: 100%; 
    border-radius: 7px;
    outline: none;
    transition: 0.5s;
    top: 0; 
    left: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.CaixaPesquisa{
    width: 40vw;
    height: 3vh;
    border: solid 3px var(--color-Terceiraria);
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 1px 1px 10px;
    outline: none;
    transition: 0.5s;
    display: flex;
}

.CaixaPesquisa:hover{
    box-shadow: 2px 2px 2px;
}



#lupa{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-Quartaria);

   border-bottom-right-radius: 8px;

}
#lupa:hover{
    cursor: pointer;
}

#LupaSvg{
    width: 4vw;
    height: 3vh;
}
   

a{
    text-decoration: none;
    color: var(--color-Letra);
    display: flex;
    align-items: center;
}

.ul-nav a{
    transition: 0.2s;
}
.ul-nav a:hover{
    transform: translateY(-2px);
    border-radius: 10px;
    box-shadow: 0 2px 2px var(--color-Quartaria);
    background-color: var(--color-primariaMaisClara);
}

.ul-nav a p{
    padding: 6px;
}

.navSimbols{
    height: 2vh;
    width: 2vw;
    
}

li{
    list-style: none;
    display: flex;
   
}

ul{
    display: flex;
    padding: 0;
    gap: 2vw;
}

.menuLink{
    display: none;
}

#menuLinkSvg{
    width: 4vw;
    height: 4vh;
}

.menuItens{
    height: 100%;
    border: solid 1px black;
    border-right: 0;
    flex: 1;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: 0.5s;

    list-style-type: none; /*Remove o marcador das listas*/
    margin: 0;
    padding: 0;

    position: relative;

    
}

.menuItens:hover{
    flex: 1.2; 
    background-color: var(--color-Quartaria);
}


.menuItens p{
    font-size: 1vw;
    text-shadow: 2px 2px 0px black;
}

.menuItens ul{
    display: none;
    align-items: center;
    position: absolute;
    top: 102%;
    left: 0;
    width: 100%;

    background-color: transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;

    backdrop-filter: blur(10px);
    border: solid 2px black;
}

.subMenu{
    display: flex;
    justify-content: center;

    
    transition: 0.5s;
   
}


.subMenu:hover{
    background-color: var(--color-Quartaria);

   
}

.menuItens:hover ul{
    display: grid;
    transition: 0.5s;


}









@media screen and (max-width: 930px) {

    body, html{
        overflow-x: hidden;
    }
 
    .ul-nav{
      position: absolute;
      top: 9vh;
      right: 0;
      width: 100vw;
      height: 50vh;
      background-color: transparent;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      opacity: 100%;
      z-index: 2;

      backdrop-filter: blur(15px);
      border: solid 2px black;
      
      transition: transform 0.5s;
    }

    .ul-nav li{
        margin-left: 0;
       
    }

 
    .menuLink{
        display: flex;
        cursor: pointer;
    }

    .ul-nav.active{
        transform: translateX(0);
    }


    .menuItens p{
        font-size: 3vw;
    }

}



