

header{
    width: 100vw;
    height: 10vh;
    background-color: var(--color-Primaria);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.LogoEtitulo{
    display: flex;
    align-items: center;
}
.Logo{
    background-color: var(--color-Secundaria);
    width: 40px;
    height: 40px;
}

input[type=text]{
    width: 50vw;
    height: 3vh;
    border: solid 3px var(--color-Terceiraria);
    border-radius: 10px;
}

nav{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--color-Letra);
}

li{
    list-style: none;
}

ul{
    display: flex;
    gap: 10px;
}
