main{
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(var(--color-Primaria), var(--color-Secundaria));
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card .content{
    width: 200px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;
    
}

.card{
    border: solid 2px black;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.03);
    box-shadow: 5px 5px 2px black;
}

.card button{
    border-radius: 5px;
    background-color: var(--color-button);

    width: 100%;
    height: 30px;
    transition: 0.3s;
}

.card button:hover{
    cursor: pointer;
    background-color: var(--color-Secundaria);
    
}


.card img{
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
}

