*{
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
    color: var(--color-letra);

    
}

input{
    color: black;
}

html, body{
    width: 100%;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:root{
    --color-Primaria:  #0C0E3F;
    --color-Secundaria: #0C1E40;
    --color-Terceiraria:#1B0C40;
    --color-Quartaria: rgb(173, 173, 173);

   
    --color-primariaMaisClara: #31336b;

    --color-letra: #FFF653;

    --color-button: #1E229D;
    
}


@font-face {
    font-family: "FOT-Yuruka Std";
    src: url("https://db.onlinewebfonts.com/t/2b3966678f6a1c8c8be202caeb49d95a.eot");
    src: url("https://db.onlinewebfonts.com/t/2b3966678f6a1c8c8be202caeb49d95a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2b3966678f6a1c8c8be202caeb49d95a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2b3966678f6a1c8c8be202caeb49d95a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2b3966678f6a1c8c8be202caeb49d95a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2b3966678f6a1c8c8be202caeb49d95a.svg#FOT-Yuruka Std")format("svg");
}

